:host {
  display: block;
  height: 100%;

  .menu-button {
    position: fixed;
    top: 0;
    left: 0;
    width: 64px;
    height: 64px;
    z-index: 100;
  }

  mat-sidenav-container {
    height: calc(100% + 64px);
    margin-top: -64px;

  }

  mat-sidenav {
    padding-top: 64px;
    width: 200px;
    box-shadow: 3px 0 6px rgba(0, 0, 0, .24);
    transition: padding-top .4s cubic-bezier(.35, 0, .25, 1);
  }

  mat-sidenav-content {
    router-outlet {
      display: none;
    }

    position: relative;
    scroll-snap-type: mandatory;
    scroll-snap-points-y: 40vh;
    scroll-snap-type: y mandatory;

  }

}

:host-context(.shrink-hero) {
  mat-sidenav-content {
    scroll-snap-type: unset;
    scroll-snap-points-y: unset;
    scroll-snap-type: y unset;

  }
}
