:host {

  --col-start: auto;
  --col-span: auto;
  --row-start: auto;
  --row-span: auto;

  position: relative;
  grid-column: var(--col-start) / span var(--col-span);
  grid-row: var(--row-start) / span var(--row-span);

  @media all and (-ms-high-contrast: none),
  (-ms-high-contrast: active) {
    -ms-grid-column: var(--col-start);
    -ms-grid-column-span: var(--col-span);
    -ms-grid-row: var(--row-start);
    -ms-grid-row-span: var(--row-span);
  }

}

:host-context([debug]) {
  background: lightblue;
  padding-top: calc(var(--gap) * 3);

  &:hover:before {
    padding: .5rem;
    width: calc(100% - 1rem);
    height: calc(100% - 1rem);
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    content: 'DEBUG: 'attr(style) attr(content-alignment);
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    background: blue;

  }
}
