/* You can add global styles to this file, and also import other style files */
@import './assets/styles/alignment';
@import './assets/styles/spacing';
@import './assets/styles/fonts';
@import './assets/styles/theme';


:root {
  --col-repeat: 1;
  --col-template: content;
  --col-gap: var(--gap);
  --col-pad: var(--col-gap);
  --row-repeat: auto;
  --row-template: content;
  --row-gap: var(--gap);
  --row-pad: var(--row-gap);
  --gap: inherit;

  --col-start: auto;
  --col-span: auto;
  --row-start: auto;
  --row-span: auto;



  font-family: 'Inter',
  sans-serif;
  transition: font-weight .45s cubic-bezier(.25, .8, .25, 1);
}

body {
  margin: 0;
  overflow: hidden;


  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  span {
    margin: 0 !important;
  }
}
